@import "../Styles/Animations.scss";
nav {
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  div {
    a {
      transition: all 0.3s;
      span {
        width: 0;
        background-color: var(--gold);
        border-radius: 20px;
        transition: all 0.3s;
      }
    }
    a:hover {
      background-color: var(--gray);
      span {
        width: 100%;
      }
    }
  }
}
