@import "../Styles/Animations.scss";
nav {
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  div {
    button {
      span {
        width: 0;
        background-color: var(--gold);
        border-radius: 20px;
      }
    }
    button:hover {
      background-color: var(--gray);
      span {
        width: 100%;
      }
    }
  }
}
